.cart {
  /* position: absolute;
  top: 0; */
  /* z-index: 10; */
  max-width: 30rem;
  background-color: #917272;
  color: white;

  margin-top: 9rem;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}
@media (max-width: 600px) {
  .total {
    font-size: 1.25rem;
  }
}
