form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ec6464;
  padding: 2rem;
}
.inputGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;

  width: 100%;
}
label {
  font-size: 1rem;
  width: 20%;
}
.inputGroup input {
  padding: 1rem;
  font-size: 1rem;
  width: 70%;
  border: none;
  background-color: rgba(236, 101, 101, 0.1);
  justify-self: flex-end;
}
.inputGroup input:checked,
.inputGroup input:hover,
.inputGroup input:target {
  outline: none;
}
li {
  list-style-type: none;
}
.buttonGroup {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
input[type="radio" i] {
  background-color: #ec6464 !important;
  cursor: pointer;
  border: rgba(236, 101, 101, 0.1);
}
@media (max-width: 600px) {
  .inputGroup {
    flex-direction: column;
    width: 100%;
  }
  label {
    font-size: 1rem;
    width: 100%;
  }
  .inputGroup input {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
  }
}
