@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  border-radius: 6px;
  background-color: transparent;
  color: #ec6464;
  border: 1px solid #ec6464;
}

button:hover,
button:active {
  background-color: #d15454;
  border-color: #d15454;
  color: white;
}
